[package]
name = "conventional-versioning"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.3.17", features = ["derive"] }
git2 = { version = "0.17.2",  default-features = false}
miette = { version = "5.10.0", features = ["fancy"] }
node-semver = "2.1.0"
semver = "1.0.18"
serde = { version = "1.0.173", features = ["derive"] }
serde_json = "1.0.103"
serde_yaml = "0.9.24"
toml = "0.7.6"

[dev-dependencies]
mockall = "0.11.4"
