[package]
name = "conventional-versioning"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.71"
clap = { version = "4.3.11", features = ["derive"] }
git2 = { version = "0.17.2",  default-features = false}
node-semver = "2.1.0"
semver = "1.0.17"
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.102"
serde_yaml = "0.9.22"

[dev-dependencies]
mockall = "0.11.4"
