[package]
name = "conventional-versioning"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5.0", features = ["derive"] }
git2 = { version = "0.18.2",  default-features = false}
miette = { version = "7.1.0", features = ["fancy"] }
node-semver = "2.1.0"
semver = "1.0.21"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.114"
serde_yaml = "0.9.32"
toml = "0.8.10"

[dev-dependencies]
mockall = "0.12.1"
