[package]
name = "conventional-versioning"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.4.14", features = ["derive"] }
git2 = { version = "0.18.1",  default-features = false}
miette = { version = "5.10.0", features = ["fancy"] }
node-semver = "2.1.0"
semver = "1.0.21"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.111"
serde_yaml = "0.9.30"
toml = "0.8.8"

[dev-dependencies]
mockall = "0.12.1"
